
.sideMenuHeader {

  padding: 0;
  padding-top: 0.5rem;
}


.sideMenuHeader a {
  color: #0d6efd;
  text-decoration: none;
}

.sideMenuHeader a:hover,
.sideMenuHeader a:active,
.sideMenuHeader a.active {
  color:#0000e6;
  padding-bottom: 0.25rem;
  background-color: aquamarine;
}



.sideBarHeader {
  height: 4rem;
  padding: 1rem;
  font-size: 1.2rem;
}
.sideheaderBackground {
  background-color: aquamarine;
}

.sideBarMenuLinks {
  height: 2.5rem;
  padding: .5rem;
  font-size: 1rem;
}
